@import url(http://fonts.googleapis.com/css?family=Roboto:300,500);

* {
  box-sizing: border-box;
}

body {
  background: #f8d57b;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-transition: background .33s;
          transition: background .33s;
}

.colour {
  width: 18.4%;
  background: rgba(255, 255, 255, 0.9);
  float: left;
  text-align: center;
}

.color:hover{
  text-decoration: none;
  color: white;
  background:#8d403e;
  flex-grow:1.8;
  letter-spacing:0.05em;
 -webkit-transition:all 200ms ease-out;
}

.colour:nth-child(n) {
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.colour:nth-child(5n) {
  margin-right: 0;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .colour {
    width: 23.5%;
  }
  .colour:nth-child(n) {
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .colour:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 900px) {
  .colour {
    width: 30.66667%;
  }
  .colour:nth-child(n) {
    margin-top: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .colour:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .colour {
    width: 47%;
  }
  .colour:nth-child(n) {
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
  }
  .colour:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  .colour {
    width: 100%;
  }
  .colour:nth-child(n) {
    margin-top: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
  }
  .colour:nth-child(1n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
.colour div {
  display: block;
  float: left;
  width: 50%;
  height: 100px;
  padding-top: 40px;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
}
.colour span {
  display: inline-block;
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


#button {
    width: 10em;  
    height: 2em;
}

button, button a{
  position:relative;
  color: #243f5c;
  text-transform: uppercase;
}

button a{
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.login form input.form-control:focus {
  text-decoration: none;
  border: none;
}

.login form button {
  text-decoration: none;
  margin-top: 20px;
  background: #243f5c;
  border: none;
  font-size: 1em;
  font-weight: 300;
  padding: 5px 0;
  width: 40%;
  border-radius: 3px;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.login form button:hover {
  text-decoration: none;
  color: white;
  background:#8d403e;
  flex-grow:1.8;
  letter-spacing:0.05em;
 -webkit-transition:all 200ms ease-out;
}


.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  text-decoration: none;
}

.login .heading {
  text-align: center;
  margin-top: 1%;
}

.login .heading h2 {
  font-size: 3em;
  font-weight: 300;
  color: #243f5c;
  display: inline-block;
/*  padding-bottom: 5px;*/
  text-shadow: 1px 1px 3px #23203b;
}