* {
  box-sizing: border-box;
}
body {
  background: #222;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: background .33s;
}

@mixin grid($row, $margin) {
  width: ((100% - (($row - 1) * $margin)) / $row);
  &:nth-child(n) {
    margin-top: $margin;
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$row}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.colour {
  @include grid(5, 2%);
  background: rgba(255,255,255,.9);
  float: left;
  text-align: center;
  @media (max-width: 1200px) {
    @include grid(4, 2%);
  }
  @media (max-width: 900px) {
    @include grid(3, 4%);
  }
  @media (max-width: 600px) {
    @include grid(2, 6%);
  }
  @media (max-width: 400px) {
    @include grid(1, 8%);
  }
  div {
    display: block;
    float: left;
    width: 50%;
    height: 100px;
    padding-top: 40px;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
  }
  span {
    display: inline-block;
    padding: 10px;
    cursor: default;
    user-select: none;
  }
}