@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500);
@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  background: #daa520;
  overflow: hidden;
}

body {
  background:#daa520;
}

body, input, button {
  font: 12px/1 "Roboto", sans-serif;
}

a{
  color: #fff;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

#nav{
 width:100%;
 height:50px;
 position:fixed;
 bottom:0px;
 background-color: #000;
}

#navigation
{
 list-style-type:none; 
}

li 
{
 display:inline-block;
 padding:10px;
}

#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#EDEDED;
} 

#nav a:hover 
{
 color:#BDBDBD;
}

.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  text-decoration: none;
}

.login .heading {
  text-align: center;
  margin-top: 1%;
}

.login .heading h2 {
  font-size: 3em;
  font-weight: 300;
  color: #37352B;
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px #23203b;
}

.login form .input-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.login form .input-group:last-of-type {
  border-top: none;
}

.login form .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
  text-decoration: none;
}

/* Login logos */
.login form .input-group span i {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

/* Login input areas */
.login form input.form-control {
  text-decoration: none;
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
  color: #fff;
}

/* Login button */

#button {
    width: 10em;  
    height: 2em;
}

button, button a{
  position:relative;
  color: #fff;
  text-transform: uppercase;
}

button a{
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.login form input.form-control:focus {
  text-decoration: none;
  border: none;
}

.login form button {
  text-decoration: none;
  margin-top: 20px;
  background: #ac8b1a;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.login form button:hover {
  background: #ac8b1a;
  text-decoration: none;
  -webkit-animation: hop 1s;
  animation: hop 1s;
}

.social-login{
  text-align:center;
  font-size: 20px;
}

.social-login a{
  display:inline-block; 
  height:35px; 
  text-align:center; 
  line-height:35px; 
  width:35px; 
  margin:0 0px; 
  text-decoration:none; 
  bottom: 20px;
}

.float {
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

#menu {
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 500px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  list-style: none;
  font-size: 200%;
  transition: width 500ms, height 500ms, margin 500ms;
  overflow: hidden;
}

#menu:target {
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  background: #fff;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 500px;
  border-radius: 50%;
  opacity: 0;
  z-index: 0;
}

.icon-plus:before, .icon-minus:before {
  color: #8cc;
  position: relative;
  top: 40%;
  left: 42%;
  transition: opacity 500ms ease-in;
  text-decoration: none;
  z-index: 2;
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

.menu-item-back {
  background: #000;
  width: 175px;
  height: 150px;
  position: absolute;
  transform-origin: 0px 150px;
  margin-top: -150px;
  left: 50%;
  top: 50%;
  border: 1px solid whitesmoke;
}

.menu-item-back:hover {
  background: #ac8b1a;
}

.menu-item {
  position: absolute;
  text-decoration: none;
  top: 50%;
  left: 50%;
  display: none;
}

.menu-item:before {
  color: #fff;
  position: absolute;
  text-decoration: none;
  top: -12px;
  left: 30px;
  z-index: 1;
}

.menu-item:nth-child(3) {
  display: block;
}

.menu-item:nth-child(3) .menu-item-back {
  transform: rotate(-64.28571deg) skew(-38.57143deg);
}

.menu-item:nth-child(3):before {
  margin: -110px 0 0 0.0px;
}

.menu-item:nth-child(4) {
  display: block;
}

.menu-item:nth-child(4) .menu-item-back {
  transform: rotate(-12.85714deg) skew(-38.57143deg);
}

.menu-item:nth-child(4):before {
  margin: -68.58388px 0 0 86.00146px;
}

.menu-item:nth-child(5) {
  display: block;
}

.menu-item:nth-child(5) .menu-item-back {
  transform: rotate(38.57143deg) skew(-38.57143deg);
}

.menu-item:nth-child(5):before {
  margin: 24.4773px 0 0 107.24207px;
}

.menu-item:nth-child(6) {
  display: block;
}

.menu-item:nth-child(6) .menu-item-back {
  transform: rotate(90deg) skew(-38.57143deg);
}

.menu-item:nth-child(6):before {
  margin: 99.10658px 0 0 47.72721px;
}

.menu-item:nth-child(7) {
  display: block;
}

.menu-item:nth-child(7) .menu-item-back {
  transform: rotate(141.42857deg) skew(-38.57143deg);
}

.menu-item:nth-child(7):before {
  margin: 99.10658px 0 0 -47.72721px;
}

.menu-item:nth-child(8) {
  display: block;
}

.menu-item:nth-child(8) .menu-item-back {
  transform: rotate(192.85714deg) skew(-38.57143deg);
}

.menu-item:nth-child(8):before {
  margin: 24.4773px 0 0 -107.24207px;
}

.menu-item:nth-child(9) {
  display: block;
}

.menu-item:nth-child(9) .menu-item-back {
  transform: rotate(244.28571deg) skew(-38.57143deg);
}

.menu-item:nth-child(9):before {
  margin: -68.58388px 0 0 -86.00146px;
}

/* Wide Screens */
@media only screen and (max-width: 1200px) {
  .login {
    width: 600px;
    font-size: 2em;
  }
}

@media only screen and (max-width: 1100px) {
  .login {
    margin-top: 2%;
    width: 600px;
    font-size: 1.7em;
  }
}

/* Desktops */
@media only screen and (max-width: 992px) {
  .login {
    margin-top: 1%;
    width: 550px;
    font-size: 1.7em;
    min-height: 0;
  }
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  .login {
    margin-top: 0;
    width: 400px;
    font-size: 1em;
    min-height: 0;
  }

  .login h2 {
    margin-top: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .login {
    margin-top: 0;
    width: 200px;
    font-size: 0.7em;
    min-height: 0;
  }
}
